div.sdwc_variation_settings {
  border-bottom: 1px solid #eee;
}

div.sdwc_variation_stock_settings {
  display: inline-block;
  padding-bottom: 5px;
}

div.sdwc_variation_stock_settings p {
  margin: 5px 0px;
}

div.sdwc_variation_stock_settings input {
  line-height: 1em;
}

p.sdwc_variation_enabled {
  border-bottom: none !important;
}

.sdwc_variable_stock_dependency_qty {
  width: 10% !important;
  float: left !important;
  padding-left: 15px;
}

.sdwc_variation_remove_stock_link_p {
  width: 15%;
  float: left;
  padding-left: 15px;
  padding-top: 26px;
}

.sdwc_product_stock_dependency_p {
  width: 35%;
  display: block;
  float: left;
  margin: 0px 0px 0px 10px !important;
}

.sdwc_product_stock_dependency_sku_label,
.sdwc_product_stock_dependency_qty_label {
  clear: both;
  float: left !important;
  margin: 0px !important;
}

input.sdwc_product_stock_dependency_sku,
input.sdwc_product_stock_dependency_qty {
  width: 100% !important;
}

.sdwc_product_remove_stock_link_p {
  padding-top: 30px !important;
}
